.article-list {
  display: flex;
  flex-direction: column;
  gap: 26px;
  max-width: 938px;
}

.article {
  padding: 15px;
  background-color: #ffffff;
  display: flex;
  height: 140px;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__title {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #1890FF;
  }

  &__likes-img {
    margin-left: 13px;
  }

  &__likes-count {
    margin-left: 5px;
  }

  &__tags-wrapper {
    display: flex;
  }

  &__tag {
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 2px;
    line-height: 18.4px;
    color: rgba(0, 0, 0, 1);
  }

  &__description {
    margin: 0;
    max-width: 682px;
    height: 45px;
    font-size: 12px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.75);
  }
}

.title-wrapper {
  display: flex;
  align-items: center;
}

.author {
  &__image {
    width: 46px;
    height: 46px;
    border-radius: 50%;
  }
}