.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1440px;
  min-height: 80px;
  padding: 15px 22px;
  font-size: 18px;
  line-height: 28px;
  background-color: #ffffff;

  &__title {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.85);

    &:hover {
      transition: all 0.4s;
      opacity: 0.5;
    }

    &:visited {
      color: rgba(0, 0, 0, 0.85);
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    height: 51px;
    width: 109px;
    border-radius: 5px;

    &--sign-in {
      color: #000000;

      &:hover {
        transition: all 0.4s;
        color: #000000;
        opacity: 0.5;
      }
    }

    &--sign-up {
      color: #52c41a;
      border: 1px solid #52c41a;

      &:hover {
        transition: all 0.4s;
        color: #ffffff;
        background-color: #52c41a;
        opacity: 0.7;
      }
    }
  }
}
