.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1440px;
  min-height: 80px;
  padding: 15px 22px;
  font-size: 18px;
  line-height: 28px;
  background-color: #ffffff;
}

.header__title {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.85);

  &:visited {
    color: rgba(0, 0, 0, 0.85);
  }
}
